<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login to All Star Sporting Goods Inventory</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-input">Username:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2 class="page-title">Signup for All Star Sporting Goods Inventory</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
          <label for="store-signup">Which store do you work at? (1: Chicago 2: Milwaukee 3: St. Louis)</label>
          <input class="form-input" type="number" id="store-id" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
