<div class="row justify-space-between-md">
   <div>
        <a class="login-link" href="/signup"  >Create Account</a>

      </div>
  {{!-- Login Section --}}
  <div class="login-card">
    <h2 class="page-title">Login to All Star Sporting Goods Inventory</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">LOGIN</button>
      </div>

     
    </form>
  </div>

{{!-- reference login.js in public/js folder --}}
<script src="./js/login.js"></script>
