<div class="card">
  <h3 class="card-header">Add A New Store</h3>
  <form class="card-body new-products" id="new-store">
    <label for="store-name" class="form-label">Store Name:</label>
    <input
      name="store-name"
      id="store-name"
      type="text"
      class="form-input"
    />

    <label for="price" class="form-label">Store Location:</label>
    <input
      name="store-location"
      id="store-location"
      class="form-input"
      type="text"
    />

    <button
      type="submit"
      id="new-store"
      class="btn new-products-btn"
    >Create Store</button>
  </form>
</div>

<script src="/js/add-store.js"></script>