  {{!-- Sign-up Section --}}
  <div class="login-card">
    <h2 class="page-title">Signup for All Star Sporting Goods Inventory</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
          <label for="store-signup">Which store do you work at? Please enter a number (1: Chicago 2: Milwaukee 3: St. Louis).</label>
          <input class="form-input" type="number" id="store-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">SIGNUP</button>
      </div>
    </form>
  </div>
</div>

{{!-- reference login.js in public/js folder --}}
<script src="./js/signup.js"></script>